<!-- include header -->
<%- include("../partial/header-home") %>
<main>
    <section class="card-dir">
        <img src="imagem/quarto.png" alt="Foto de um quarto do hotel">
        <h3>Acomodação</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <p>Sed a finibus lacus. Quisque nec ligula consequat, condimentum.</p>
        <a href="/quartos">Saiba mais...</a>
    </section>

    <section class="card-esq">
        <h3 class="titulo">Lazer</h3>
        <p class="texto">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <p class="texto">Sed a finibus lacus. Quisque nec ligula consequat, condimentum.</p>
        <a class="link" href="#">Saiba mais...</a>
        <img class="imagem" src="imagem/tubbing.png" alt="Foto de atividade de lazer">
    </section>

    <section class="card-dir">
        <img src="imagem/gastronomia.png" alt="Foto de pratos servidos no Hotel">
        <h3>Gastronomia</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <p>Sed a finibus lacus. Quisque nec ligula consequat, condimentum.</p>
        <a href="#">Saiba mais...</a>
    </section>

    <div id=cta>
        <button>Reserve já!</button>
    </div>

</main>